<div class="topbar topbar--two">
    <div class="container">
        <div class="topbar__info">
            <a href="#"><i class="icon-pin"></i> 03, AV.Bismarck, Q.Golf C/Gombe kinshasa, Réf. Terrain
                maman
                Yemo</a>
            <a href="mailto:administration@verifix.cd"><i class="icon-email"></i> administration@verifix.cd</a>
        </div>
        <!-- /.topbar__info -->

        <div class="topbar__social">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <!-- /.topbar__social -->
    </div>
    <!-- /.container-fluid -->
</div>